h3 {
    margin: 0;
}

.grid-container {
    grid-template-columns: auto auto;

    ul {
        padding-left: 1em;

        li {
            margin-bottom: 2em;
        }
    }

    p {
        margin-top: 0;
    }

    div {
        padding: 0 3em 0 3em;
    }
}
