.leaderboard-list {
    margin-bottom: 2em;
    td {
        padding: 0.7em;
        text-align: center;
    }
}

h3 {
    display: inline-block;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    margin-right: 0.5em;
}

#home-wrapper {
    height: 4em;
    width: 100%;
    position: fixed;
    bottom: 3%;
}

#home-button { 
    margin: 0 auto;    
}

#range-container {
    display: flex;
    justify-content: center;
    align-items: center;

    #range-selector {
        display: inline-block;
        margin: 0 auto;
    }
}

select {
    width: 10em !important;
}

.grid-container {
  grid-template-columns: auto auto auto;
}
