#timer {
    display:inline-block
}

table {
    tr {
        td {
            border: 1px solid black;
            width: 1.85em;
            height: 1.85em;
            background-color: #d86386;
            box-shadow: inset 0 0 3px #000000;
            span {
                display: block;
                text-align: center;
                margin: 0 auto;
                color: white;
            }
        }

        .selected-cell {
            opacity: 0.5;
        }
    }
}

#board-container {
    width:max-content;
    margin: 0 auto;
}

#bombs-flagged {
    display:inline-block;
    float: right;
}

#bombs-flagged, #timer {
    margin-top: 0.5em;
}

#game-msg, #btn-wrapper, #board-score {
    text-align: center;
}

#board-score {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#btn-wrapper button {
    display: none;
    width: 7em;
}

#new-game {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

#home-button {
    display: block !important;
    margin: 0.5em auto;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #ECEFF4;
    color: #434C5E;
    margin-left: 1em;
    padding: 1em;
    width: 10em;
    font-family: Lato;
    border: 1px solid #434C5E;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.blinker {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.grid-container {
    grid-template-columns: auto auto;
    button {
        display: none;
        width: 7em;
        margin: 1em 1em 0em 1em;
    }
}

#give-up, #solve {
    float: right !important;
}

@media (max-width: 800px) {
    #give-up, #solve {
        float: none !important;
    }

    .grid-container {
        align-items: center;
        justify-content: center;
    }
}
