body {
    font-family: Lato;
    background-color: #D8DEE9;
    user-select: none;
    color: #434C5E;

    table {
      border-collapse: collapse;
      margin: auto;
    }

    h1 {
        text-align: center;
    }

    select {
        width: 17em;
        padding: 0.5em;
        font-family: Lato;
    }

    button {
        color: #434C5E;
        background-color: #ECEFF4;
        border: none;
        padding: 0.75em;
        font-family: Lato;
        outline: none !important;
    }

    input {
        padding: 0.5em;
        width: 16em;
        border: none;
        font-family: Lato;
    }

    #home-wrapper {
      text-align: center;;
    }

    #start-wrapper * {
        display: block;
        margin: 1em auto;
    }

    #start-wrapper button {
        width: 17em;
    }

    #wrapper {
        margin-top: 10em;
    }

    #github-link {
        position: fixed;
        bottom: 0.5em;
        right: 1em;
        color: inherit;
        font-size: 2.5em;
    }

    .centered {
      text-align: center;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 65px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #434C5E;        
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}

.grid-container {
  display: grid;
}

@media (max-width: 800px) {
  .grid-container {
      grid-template-columns: auto !important;
  }
}
